<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tire_Management"
        tools:targetApi="31">

        <!-- SplashActivity will be the first activity launched -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginRegisterActivity is now launched from SplashActivity -->
        <activity
            android:name=".LoginRegisterActivity"
            android:exported="false">
            <!-- No intent-filter here anymore -->
        </activity>

        <!-- MainActivity will be launched after successful login -->
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <!-- No intent-filter here, as it's not the launcher activity anymore -->
        </activity>

        <!-- Activity for Tire Selection -->
        <activity
            android:name=".TireSelectionActivity"
            android:exported="false" />

        <!-- Activity for Tire Ring Selection -->
        <activity
            android:name=".TireRingSelectionActivity"
            android:exported="false" />

        <!-- New Activity for Image Detail (Zoomable) -->
        <activity
            android:name=".ImageDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" /> <!-- Use NoActionBar for full screen image -->

    </application>
</manifest>
